In [20]:
import torch
import torchvision
import numpy as np
import pandas as pd

print(torch.__version__)
print(torchvision.__version__)

1.12.0+cpu
0.13.0+cpu

In [21]:
df = pd.read_csv('./stacked/output/cellinfo.csv')

In [22]:
accdf = df.loc[df['Accepted'] == 1][['Xmin_abs', 'Ymin_abs', 'Xmax_abs', 'Ymax_abs', 'Accepted', 'Frame_Row', 'Frame_Col', 'Informative']]
#accdf = accdf[['Xmin_abs', 'Ymin_abs', 'Xmax_abs', 'Ymax_abs']]
accdf.head()

,Xmin_abs,Ymin_abs,Xmax_abs,Ymax_abs,Accepted,Frame_Row,Frame_Col,Informative
0,534,67,632,162,1,0,0,1
1,781,575,881,679,1,0,0,1
2,917,127,991,204,1,0,0,1
3,387,687,497,815,1,0,0,1
7,1163,671,1268,755,1,0,1,1

In [24]:
x1, y1, x2, y2, accepted, fr, fc, label = accdf.iloc[1]

print(x1, x2, y1, y2, accepted)

781 881 575 679